= form_tag :signin do
  = text_field_tag :email, '', placeholder: User.human_attribute_name(:email)
  = select_tag :city_id, options_from_collection_for_select(City.all, :id, :name), prompt: t('sessions.select_city')
  = submit_tag t('sessions.signin')